.profile-icon {
    position: relative;
    width: 64px;
    height: 64px;
}
.profile-card {
    margin: 0;
    padding: 20px 16px;
}
.user-icon {
    position: absolute;
    width: 20px;
    height: 23px;
    top: 20px;
    left: 22px;
}
.user-info {
    float: left;
    margin-left: 13px;
    margin-top: 5px;
}
ion-content {
    --background: #f9f9f9;
}
ion-card {
    --background: #ffffff;
}
.sale-list {
    border-top: 1px solid #000000;
    margin-top: 20px;
}
.sale-list ion-label {
  line-height: 36px;
}