<ion-header>
    <ion-toolbar>
        <ion-title>
            {{'PROFILE_TITLE' | translate}}
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="light" *ngIf="account" routerLink="/settings">
                <img src="../../../assets/img/Group 51.png" *ngIf="account"/>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        <!--<h3 class="enjoy-page-header text-sf-black ion-float-left">{{'PROFILE_TITLE' | translate}}</h3>
        <div class="ion-float-right" style="margin-top: 5px;">
            <img src="../../../assets/img/Group 51.png" *ngIf="account" routerLink="/settings"/>
        </div>
        <div style="clear: both"></div>-->
        <ion-card class="profile-card" *ngIf="account">
            <div class="ion-float-left profile-icon">
                <img src="../../../assets/img/Ellipse 2.png"/>
                <img src="../../../assets/img/Group 4.png" class="user-icon"/>
            </div>
            <div class="user-info">
                <span class="sf-bold" style="font-size: 18px;">{{account.firstName}}</span>
                <span class=""
                      style="font-size: 16px; color: #969696; display: block; margin-top: 9px;">{{account.login}}</span>
            </div>
        </ion-card>
    </div>
    <div class="sale-list">
        <ion-list style="margin-bottom: 15px">
            <!--<ion-item button routerLink="/login" class="ion-no-margin ion-no-padding" *ngIf="account">-->
            <!--<ion-item button (click)="viewContactPage()" class="ion-no-margin ion-no-padding" *ngIf="!account">
                <ion-label class="ion-margin-start sf-bold" color="enjoy">{{'LOGIN' | translate}}</ion-label>
            </ion-item>-->
            <!--<ion-item button routerLink="/history" class="ion-no-margin ion-no-padding">
                <ion-label class="ion-margin-start">{{'HISTORY_TITLE' | translate}}</ion-label>
            </ion-item>-->
            <ion-item button routerLink="/news" class="ion-no-margin ion-no-padding">
                <ion-label class="ion-margin-start">{{'NEWS_AND_STOCKS_TITLE' | translate}}</ion-label>
                <img src="../../../assets/img/Group 53.png" slot="end"/>
            </ion-item>
            <ion-item button routerLink="/promocode-activate" class="ion-no-margin ion-no-padding">
                <ion-label class="ion-margin-start">{{'INVITE_FRIEND_TITLE' | translate}}</ion-label>
                <img slot="end" src="../../../assets/img/21-Shopping - New 1.png"/>
            </ion-item>
        </ion-list>
    </div>
    <div class="ion-padding-start sf-bold" style="font-size: 14px;">
        {{'INFO_TITLE' | translate}}
    </div>
    <div class="sale-list" style="margin-top: 7px;">

        <ion-list>
            <ion-item button routerLink="/about" class="ion-no-margin ion-no-padding">
                <ion-label class="ion-margin-start">{{'ABOUT_TITLE' | translate}}</ion-label>
            </ion-item>
            <ion-item button routerLink="/feedback" class="ion-no-margin ion-no-padding">
                <ion-label class="ion-margin-start">{{'FEEDBACK_TITLE' | translate}}</ion-label>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
