.remove-btn {
    --border-width: 1px 0 1px 1px;
    --border-radius: 5px 0 0 5px !important;
    width: 25%;
    /* height: 60px; */
    margin: 0;
}
.add-btn {
    --border-width: 1px 1px 1px 0px;
    --border-radius: 0 5px 5px 0 !important;
    --color: black;
    width: 25%;
    /* height: 60px; */
    margin: 0;
}
.value-btn {
    --border-radius: 0 0 0 0 !important;
    --color: black;
    width: 25%;
    /* height: 60px; */
    margin: 0;
}
.amount-header {
    font-size: 16px;
    font-weight: 600;
    border-bottom: 1px solid #acacac;
    display: inline-block;
    padding: 0 5% 5%;
    margin: 5% 0;

}
.amount-submit {
    width: 75%;
    position: absolute;
    bottom: 20px;
    left: 12%;
}
ion-segment {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
}