<ion-content>

    <p class="ion-text-center sf-light amount-header" style="font-size: 16px; font-weight: 600">Выберите кол-во</p>

    <div>
        <ion-button fill="outline" class="remove-btn" color="medium" (click)="removeAmount()">
            <ion-icon slot="icon-only" name="remove"></ion-icon>
        </ion-button>
        <ion-button fill="outline" class="value-btn" color="medium">
            <span style="color: black">{{amount}}</span>
        </ion-button>
        <ion-button fill="outline" class="add-btn" color="medium" (click)="addAmount()">
            <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
    </div>

    <div *ngIf="menu.spicy">
        <p class="ion-text-center sf-light amount-header" style="font-size: 16px; font-weight: 600">Острата</p>
        <ion-segment color="danger" (ionChange)="spicyLevelChange($event)" [value]="spicyLevel">
            <ion-segment-button value="none">
                <ion-label>Нет</ion-label>
            </ion-segment-button>
            <ion-segment-button value="LOW">
                <ion-label>Низ.</ion-label>
            </ion-segment-button>
            <ion-segment-button value="MIDDLE">
                <ion-label>Сред.</ion-label>
            </ion-segment-button>
            <ion-segment-button value="HIGH">
                <ion-label>Выс.</ion-label>
            </ion-segment-button>
        </ion-segment>
    </div>

    <ion-button class="amount-submit" expand="block" color="enjoy" (click)="selectAmount()">
        Добавить
    </ion-button>
    <!--<ion-row>
        <ion-col><ion-button><ion-icon slot="icon-only" name="remove"></ion-icon></ion-button></ion-col>
        <ion-col><span>1</span></ion-col>
        <ion-col><ion-button><ion-icon slot="icon-only" name="add"></ion-icon></ion-button></ion-col>
    </ion-row>-->
</ion-content>