<ion-content>

	<div class="detail-header-block">

		<ion-fab vertical="top" horizontal="start" slot="fixed">
			<ion-fab-button color="light" (click)="goBack()">
				<ion-icon name="arrow-back"></ion-icon>
			</ion-fab-button>
		</ion-fab>
		<div class="header-btn-group">
			<!--<img src="../../../assets/img/share-logo.png" style="margin-right: 20px;"/>-->
			<img src="../../../assets/img/fav-logo.png" (click)="addToFavourite(menu)" *ngIf="!flagFav"/>
			<img src="../../../assets/img/fav-selected.png" *ngIf="flagFav" (click)="addToFavourite(menu)"/>
		</div>
		<!--<span class="custom-back-button">
			<ion-button color="light" shape="round">
				<ion-icon slot="icon-only" name="arrow-back"></ion-icon>
			</ion-button>
		</span>-->
		<!--<img src="../../../assets/img/bg-reg-order.png"/>-->
		<div class="img-container">
			<img *ngIf="menu.image" [src]="'data:' + menu.imageContentType + ';base64,' + menu.image" alt="menu image" style="width: 100%;"/>
		</div>

		<ion-card>
			<div>
				<span class="ion-float-left text-sf-black menu-name ion-text-wrap" style="max-width: 66%;">{{menu.name}}</span>
				<span class="ion-float-right text-sf-black menu-price">{{menu.price?.price || 'уточнить'}} ₸</span>
				<div class="menu-ingr ion-text-nowrap">{{menu.content}}</div>
			</div>
			<div class="menu-header-footer">
				<span class="ion-float-left">
					<span class="ion-float-left">
						<ionic4-star-rating #rating
											activeIcon = "ios-star"
											defaultIcon = "ios-star"
											activeColor = "#FDAE47"
											defaultColor = "#C4C4C4"
											readonly="true"
											rating="4"
											fontSize = "14px"
											(ratingChanged)="logRatingChange($event)">
						</ionic4-star-rating>
					</span>
					<span class="ion-float-right" style="margin-left: 5px;">4</span>
				</span>
				<span class="ion-float-right" style="color: #363636; margin-left: 5px;">{{menu.prepDuration || 10}} мин</span>
				<span class="ion-float-right">
					<img src="../../../assets/img/dur-black-logo.png"/>
				</span>
			</div>
		</ion-card>
	</div>

	<div class="detail-content ion-padding">

		<div class="custom-segment">
			<span (click)="switchSegment(0)"
					class="sf-bold"
					style="width: 35%"
					[ngClass]="{'activeSegment': selectedSegment === 0}">{{'DESCRIPTION_TITLE' | translate}}</span>
			<!--<span (click)="switchSegment(1)" class="text-sf-black ion-text-end" style="width: 65%; padding-right: 20px;" [ngClass]="{'activeSegment': selectedSegment === 1}" text-align-right>Оценка и отзывы</span>-->
		</div>
		<div class="menu-description-content" *ngIf="selectedSegment === 0">
			<p class="description-par sf-light">
				{{menu.description || 'Описание в процессе.'}}
			</p>
			<label class="menu-ingr-title description-par sf-bold">{{'CONTENT_TITLE' | translate}}</label>
			<p class="ingr-content description-par sf-light">
				{{menu.content}}
			</p>
		</div>
		<div class="rating-block" *ngIf="selectedSegment === 1">
			<div>

			</div>
		</div>


	</div>
    <!--<ion-list>
        <ion-item>
            <ion-label position="fixed">Name</ion-label>
            <div item-content>
                <span>{{menu.name}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Description</ion-label>
            <div item-content>
                <span>{{menu.description}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Image</ion-label>
            <div item-content>
                <div *ngIf="menu.image">
                    <a (click)="openFile(menu.imageContentType, menu.image)">
                        <img [src]="'data:' + menu.imageContentType + ';base64,' + menu.image" style="max-width: 100%;" alt="menu image"/>
                    </a>
                    {{menu.imageContentType}}, {{byteSize(menu.image)}}
                </div>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Create Date</ion-label>
            <div item-content>
                <span>{{menu.createDate | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Flag Deleted</ion-label>
            <div item-content>
                <span>{{menu.flagDeleted}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Content</ion-label>
            <div item-content>
                <span>{{menu.content}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Prep Duration</ion-label>
            <div item-content>
                <span>{{menu.prepDuration}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Category</ion-label>
            <div item-content *ngIf="menu.category">
                <a>{{menu.category?.id}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Price</ion-label>
            <div item-content *ngIf="menu.price">
                <a>{{menu.price?.id}}</a>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Combo</ion-label>
            <div item-content *ngIf="menu.combo">
                <a>{{menu.combo?.id}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(menu)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(menu)">{{ 'DELETE_BUTTON' | translate }}</ion-button>-->

</ion-content>

<ion-footer>
	<ion-toolbar>

		<order-amount
				*ngIf="!menu.onStop"
				[size]="'default'"
				[color]="'enjoy'"
				[title]="'Заказать'"
				[classes]="['order-button']"
				[menu]="menu"
				[img]="'../../../assets/img/order-logo.png'"
				[expand]="'block'"
				(valueChanged)="selectAmount($event)"
		></order-amount>
		<ion-button *ngIf="menu.onStop" color="danger" expand="block" size="default" class="order-button" [disabled]="true">
			<ion-icon name="planet" slot="start"></ion-icon>
			<label>На стопе</label>
		</ion-button>

		<!--<ion-button color="enjoy" class="order-button" expand="block">
			<img src="../../../assets/img/order-logo.png" style="margin-right: 5px;"/>
			{{'ORDER_BUTTON_TITLE' | translate}}
		</ion-button>-->
	</ion-toolbar>
</ion-footer>