.detail-header-block {
    position: relative;
}
.img-container {
    height: 249px;
    overflow: hidden;
}
.detail-header-block img {
    background-size: cover;
}
.detail-header-block ion-card {
    position: absolute;
    z-index: 1000;
    top: 170px;
    background-color: #ffffff;
    width: 90%;
    padding: 18px 15px;
}
.menu-name {
    font-size: 20px;
    color: #000000;
}
.menu-price {
    font-size: 18px;
    color: #FDAE47;
}
.menu-ingr {
    clear: both;
    border-bottom: 1px solid #E7E7E7;
    padding-bottom: 25px;
    padding-top: 5px;
    height: 25px;
    overflow: hidden;
}
.menu-header-footer {
    margin-top: 15px;
}
.detail-content {
    padding-top: 110px;
    position: relative;
}
.order-button {
    /* position: fixed;
    bottom: 5%; */
    width: 100%;
    left: 0;
    padding: 0 20px;
}
.activeSegment {
    color: #363636 !important;
    border-bottom: 2px solid #FDAE47 !important;
}
.custom-segment span {
    font-size: 18px;
    color: #C4C4C4;
    padding-bottom: 12px;
    border-bottom: 1px solid #DADADA;
    display: inline-block;
}
.ingr-content {
    padding-top: 0;
    margin-top: 5px;
}
.header-btn-group {
    position: absolute;
    right: 5%;
    top: 10%;
}