<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>
			{{'REGULAR_ORDER_TITLE' | translate}}
        </ion-title>
    </ion-toolbar>
	<ion-slides [options]="slideOpts" *ngIf="groupedCategories" class="menu-slider">
		<ion-slide *ngFor="let i of groupedCategories">
			<label>{{i.name}}</label>
		</ion-slide>
	</ion-slides>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding" [scrollEvents]="true" (ionScroll)="logScrolling($event)">
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

	<!--<h3 class="enjoy-page-header text-sf-black">{{'REGULAR_ORDER_TITLE' | translate}}</h3>-->

	<div *ngFor="let c of groupedCategories">
		<ion-card *ngFor="let item of c.items">
			<div class="menu-img ion-float-left">
				<!--<img src="../../../../assets/img/pasta.png"/>-->
				<img class="ava" *ngIf="item.image" [src]="'data:' + item.imageContentType + ';base64,' + item.image" style="max-width: 100%;" alt="menu image"/>
			</div>
			<div class="menu-content">
				<ion-card-header (click)="view(item)">
					<ion-card-title>
						<span class="sf-bold ion-text-wrap menu-name">{{item.name}}</span>
						<ion-icon name="arrow-forward" class="ion-float-right view-arrow" style="margin-right: 6px;"></ion-icon>
					</ion-card-title>
				</ion-card-header>

				<ion-card-content>
					<span class="sf-light ion-text-wrap">{{item.content}}</span>
				</ion-card-content>
				<div class="price-time-block">
					<span class="ion-float-left price-span">
						{{item.price?.price || 'уточнить'}} ₸
					</span>
					<!--<span class="ion-float-right" style="color: #BDBDBD; margin-left: 5px;">{{item.time}} мин</span>-->
					<!--<ion-button class="ion-float-right" size="small" color="enjoy" (click)="showAmountModal()">
                        <ion-icon name="add" slot="start"></ion-icon>
                        Добавить
                    </ion-button>-->
					<order-amount
							*ngIf="!item.onStop"
							[size]="'small'"
							[color]="'enjoy'"
							[title]="'Добавить'"
							[classes]="['ion-float-right']"
							[menu]="item"
							[icon]="'add'"
							(valueChanged)="selectAmount($event)"
					></order-amount>
					<ion-button *ngIf="item.onStop" color="danger" size="small" class="ion-float-right" [disabled]="true">
						<ion-icon name="planet" slot="start"></ion-icon>
						<label>На стопе</label>
					</ion-button>
					<!--<span class="ion-float-right">
                        <img src="../../../assets/img/duration-logo.png"/>
                    </span>-->
				</div>
			</div>
		</ion-card>
	</div>

    <!--<ion-list>
        <ion-item-sliding *ngFor="let menu of menus; trackBy: trackId" #slidingItem>
            <ion-item (click)="view(menu)">
              <ion-label class="ion-text-wrap">
                <ion-text color="primary"><h2>{{menu.name}}</h2></ion-text>
                <p>{{menu.description}}</p>
                <ion-avatar *ngIf="menu.image">
                    <img [src]="'data:' + menu.imageContentType + ';base64,' + menu.image" />
                    <p *ngIf="menu.image">{{menu.imageContentType}}, {{byteSize(menu.image)}}</p>
                </ion-avatar>
                <p>{{menu.createDate | date:'medium'}}</p>
                <p>{{menu.flagDeleted}}</p>
                <p>{{menu.content}}</p>
                <p>{{menu.prepDuration}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="primary" (click)="edit(slidingItem, menu)">
                    {{ 'EDIT_BUTTON' | translate }}
                </ion-item-option>
                <ion-item-option color="danger" (click)="delete(menu)">
                    {{ 'DELETE_BUTTON' | translate }}
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>-->
    <ion-item *ngIf="!menus?.length">
        <ion-label>
            No Menus found.
        </ion-label>
    </ion-item>

    <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="new()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>-->

</ion-content>
