<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Menu
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input type="text" name="name" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Description</ion-label>
                <ion-input type="text" name="description" formControlName="description"></ion-input>
            </ion-item>
            <ion-item>
                <div>
                    <img [src]="'data:' + menu.imageContentType + ';base64,' + menu.image" style="max-height: 100px;" *ngIf="menu?.image" alt="menu image"/>
                    <div *ngIf="menu.image">
                        <p>{{menu.imageContentType}}, {{byteSize(menu.image)}}</p>
                        <ion-button color="danger" (click)="clearInputImage('image', 'imageContentType', 'fileImage')">
                            <ion-icon name="trash" slot="icon-only"></ion-icon>
                        </ion-button>
                    </div>
                    <!--<input type="file" #fileInput style="display: none" (change)="setFileData($event, menu, 'image', true)" accept="image/*"/>-->
                    <input type="file" style="display: none" (change)="setFileData($event, menu, 'image', true)" accept="image/*"/>
                    <ion-button *ngIf="!menu?.image" (click)="getPicture('image')">
                        <ion-icon name="add-circle" slot="start"></ion-icon>
                        {{ 'ITEM_CREATE_CHOOSE_IMAGE' | translate }}
                    </ion-button>
                </div>
            </ion-item>
            <ion-item>
                <ion-label>Create Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="createDate" id="field_createDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Flag Deleted</ion-label>
                <ion-checkbox formControlName="flagDeleted"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Content</ion-label>
                <ion-input type="text" name="content" formControlName="content"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Prep Duration</ion-label>
                <ion-input type="number" name="prepDuration" formControlName="prepDuration"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Category</ion-label>
                <ion-select id="field_category" formControlName="category" [compareWith]="compareCategory">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="categoryOption" *ngFor="let categoryOption of categories; trackBy: trackCategoryById">{{categoryOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Price</ion-label>
                <ion-select id="field_price" formControlName="price" [compareWith]="comparePriceHistory">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="priceHistoryOption" *ngFor="let priceHistoryOption of priceHistories; trackBy: trackPriceHistoryById">{{priceHistoryOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Combo</ion-label>
                <ion-select id="field_combo" formControlName="combo" [compareWith]="compareMenu">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="menuOption" *ngFor="let menuOption of menus; trackBy: trackMenuById">{{menuOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
