ion-card {
    margin: 0 0 10px 0;
}
.menu-img {
    width: 93px;
    height: 92px;
    margin: 9px;
    position: relative;
}
.menu-img .ava {
    border-radius: 5px;
    background-size: cover;
}
.menu-content {
    position: relative;
    min-height: 101px;
}
.menu-content ion-card-header {
    padding: 9px 0 0 0;
    height: 32px;
    overflow: hidden;
}
.menu-content ion-card-title {
    font-size: 18px;
}
.menu-content ion-card-content {
    padding: 0;
    line-height: 16px;
    max-height: 32px;
    margin-top: 5px;
    color: #010101;
    overflow: hidden;
}
.price-time-block {
    position: absolute;
    bottom: -5px;
    width: 100%;
    text-align: right;
    padding-right: 9px;
}
.price-time-block img{
    width: 16px;
    height: 17.92px;
}
.price-span {
    margin-left: 111px;
    color: #FDAE47;
    font-size: 16px;
    line-height: 35px;
}
.menu-name {
    width: 100%;
    display: inline-block;
    padding-right: 30px;
    float: left;
    background: transparent;
}
.view-arrow {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 1000;
}

.lock-main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.3);
    z-index: 100;
}
.menu-slider {
    background-color: #ffffff;
    padding-bottom: 8px;
}
ion-content {
    --background: #f9f9f9;
}
.spicy {
    position: absolute;
}