<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Notice Receiver
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">To User Id</ion-label>
                <ion-input type="number" name="toUserId" formControlName="toUserId"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">User Lang</ion-label>
                <ion-input type="text" name="userLang" formControlName="userLang"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Flag Sms Sent</ion-label>
                <ion-checkbox formControlName="flagSmsSent"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Flag Email Sent</ion-label>
                <ion-checkbox formControlName="flagEmailSent"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Flag Push Sent</ion-label>
                <ion-checkbox formControlName="flagPushSent"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Flag Read</ion-label>
                <ion-checkbox formControlName="flagRead"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label>Read Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="readDate" id="field_readDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Receiver Full Name</ion-label>
                <ion-input type="text" name="receiverFullName" formControlName="receiverFullName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Receiver Phone</ion-label>
                <ion-input type="text" name="receiverPhone" formControlName="receiverPhone"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Notice</ion-label>
                <ion-select id="field_notice" formControlName="notice" [compareWith]="compareNotice">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="noticeOption" *ngFor="let noticeOption of notices; trackBy: trackNoticeById">{{noticeOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
