<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Promocode Sale
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Sale</ion-label>
                <ion-input type="number" name="sale" formControlName="sale"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Min Price</ion-label>
                <ion-input type="number" name="minPrice" formControlName="minPrice"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Max Price</ion-label>
                <ion-input type="number" name="maxPrice" formControlName="maxPrice"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Min Amount</ion-label>
                <ion-input type="number" name="minAmount" formControlName="minAmount"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Max Amount</ion-label>
                <ion-input type="number" name="maxAmount" formControlName="maxAmount"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Min Share</ion-label>
                <ion-input type="number" name="minShare" formControlName="minShare"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Start Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="startDate" id="field_startDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>End Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="endDate" id="field_endDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>Promocode</ion-label>
                <ion-select id="field_promocode" formControlName="promocode" [compareWith]="comparePromocode">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="promocodeOption" *ngFor="let promocodeOption of promocodes; trackBy: trackPromocodeById">{{promocodeOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
