<!--<ion-header>
  <ion-toolbar>
    <ion-title>
      {{ 'WELCOME_TITLE' | translate }}, Java Hipster!
    </ion-title>
  </ion-toolbar>
</ion-header>-->

<ion-content>

	<!--<span class="hipster"></span>-->
	<div class="home-bg">
		<span class="logo-enj"></span>
		<p class="welcome-header text-sf-black">{{'WELCOME_HEADER' | translate}}</p>
		<p class="welcome-slogan text-marck-script">{{'WELCOME_SLOGAN' | translate}}</p>

		<div class="home-buttons">
			<ion-row>
				<ion-col>
					<ion-button expand="block" color="light" fill="outline" (click)="goToMenu()" id="menu">
						<span class="menu-icon"></span>
						{{ 'MENU_LABEL' | translate }}
					</ion-button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<ion-button expand="block" color="enjoy" routerLink="/login" id="signIn">{{ 'LOGIN' | translate }}</ion-button>
				</ion-col>
				<ion-col>
					<ion-button expand="block" color="green" routerLink="/signup">{{ 'SIGNUP' | translate }}</ion-button>
				</ion-col>
			</ion-row>
			<!--<p>{{ 'NO_ACCOUNT_MESSAGE' | translate }}</p>-->
		</div>

	</div>
</ion-content>
