<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'NEWS_AND_STOCKS_TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="news-card" *ngFor="let advert of adverts">
        <div class="img-container">
            <img [src]="'data:' + advert.imageContentType + ';base64,' + advert.image" />
        </div>
        <ion-button size="small" color="danger" class="card-button sf-bold" >
            20%
        </ion-button>
        <ion-card-header>
            <ion-card-title>{{advert.name}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            {{advert.description}}
        </ion-card-content>
    </ion-card>

</ion-content>
