.news-card {
  position: relative;
}

.card-button {
  position: absolute;
  top: 135px;
  left: 17px;
}

.detail-card {
  margin: 0;
  border-radius: 0;
  height: 100%;
}
.img-container {
  height: 150px;
  overflow: hidden;
}