<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'SETTINGS_TITLE' | translate }}</ion-title>

        <ion-buttons slot="end">
            <ion-icon color="light" name="log-out" (click)="logoutConfirm()"></ion-icon>
            <!--<ion-button [disabled]="!account.firstName" (click)="doUpdate()" color="enjoy">
                <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
                <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>-->
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

        <ion-list>
            <ion-item>
                <ion-label position="stacked">Full name</ion-label>
                <ion-input type="text" [(ngModel)]="account.firstName"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Phone</ion-label>
                <ion-input type="text" [(ngModel)]="account.login" [readonly]="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="stacked">Email</ion-label>
                <ion-input type="text" [(ngModel)]="account.email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Notification</ion-label>
                <ion-toggle [(ngModel)]="account.noticeConfirm" color="enjoy"></ion-toggle>
            </ion-item>
            <!--<ion-item class="ion-no-margin ion-no-padding" (click)="logout()">
                <ion-label class="ion-margin-start" style="color: #c58736">{{'LOGOUT_TITLE' | translate}}</ion-label>
                <ion-icon slot="end" name="log-out" style="color: #c58736"></ion-icon>
            </ion-item>-->
            <ion-row padding>
                <ion-col>
                    <ion-button [disabled]="!account.firstName" (click)="doUpdate()" expand="block" type="submit" color="enjoy"
                                id="login">{{ 'UPDATE_TITLE' | translate }}</ion-button>
                </ion-col>
            </ion-row>
        </ion-list>

</ion-content>
