<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Promocode
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Code</ion-label>
                <ion-input type="text" name="code" formControlName="code"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Flag Active</ion-label>
                <ion-checkbox formControlName="flagActive"></ion-checkbox>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Name</ion-label>
                <ion-input type="text" name="name" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Description</ion-label>
                <ion-input type="text" name="description" formControlName="description"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Container Class</ion-label>
                <ion-input type="text" name="containerClass" formControlName="containerClass"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Container Id</ion-label>
                <ion-input type="number" name="containerId" formControlName="containerId"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Create Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="createDate" id="field_createDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label>User</ion-label>
                <ion-select id="field_user" formControlName="user" [compareWith]="compareUser">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="userOption" *ngFor="let userOption of users; trackBy: trackUserById">{{userOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
