<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Promocode
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Code</ion-label>
            <div item-content>
                <span>{{promocode.code}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Flag Active</ion-label>
            <div item-content>
                <span>{{promocode.flagActive}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Name</ion-label>
            <div item-content>
                <span>{{promocode.name}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Description</ion-label>
            <div item-content>
                <span>{{promocode.description}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Container Class</ion-label>
            <div item-content>
                <span>{{promocode.containerClass}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Container Id</ion-label>
            <div item-content>
                <span>{{promocode.containerId}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Create Date</ion-label>
            <div item-content>
                <span>{{promocode.createDate | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>User</ion-label>
            <div item-content>{{promocode.user?.id}}</div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(promocode)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(promocode)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
