<ion-header>
    <ion-toolbar>
        <!--<ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>-->
        <ion-title class="sf-bold">
            {{'FAV_TITLE' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!--<h3 class="enjoy-page-header text-sf-black">{{'FAV_TITLE' | translate}}</h3>-->

    <ion-card *ngFor="let item of orderItems">
        <div class="menu-img ion-float-left">
            <img *ngIf="item.image" [src]="'data:' + item.imageContentType + ';base64,' + item.image" style="max-width: 100%;" alt="menu image"/>
        </div>
        <div class="menu-content">
            <ion-card-header (click)="view(item)">
                <ion-card-title>
                    <span class="sf-bold ion-text-wrap menu-name">{{item.name}}</span>
                    <ion-icon name="arrow-forward" class="ion-float-right view-arrow" style="margin-right: 6px;"></ion-icon>
                </ion-card-title>
            </ion-card-header>

            <ion-card-content>
                <span class="sf-light ion-text-wrap">{{item.content}}</span>
            </ion-card-content>
            <div class="price-time-block">
				<span class="ion-float-left price-span">
					{{item.price.price}} ₸
				</span>
                <!--<span class="ion-float-right" style="color: #BDBDBD; margin-left: 5px;">{{item.time}} мин</span>-->
                <order-amount
                        *ngIf="!item.onStop"
                        [size]="'small'"
                        [color]="'enjoy'"
                        [title]="'Добавить'"
                        [classes]="['ion-float-right']"
                        [menu]="item"
                        [icon]="'add'"
                        (valueChanged)="selectAmount($event)"
                ></order-amount>
                <ion-button *ngIf="item.onStop" color="danger" size="small" class="ion-float-right" [disabled]="true">
                    <ion-icon name="planet" slot="start"></ion-icon>
                    <label>На стопе</label>
                </ion-button>
                <!--<span class="ion-float-right">
                    <img src="../../../assets/img/duration-logo.png"/>
                </span>-->
            </div>
        </div>
    </ion-card>
    <ion-item *ngIf="!demo?.length">
        <ion-label>
            No Order Items found.
        </ion-label>
    </ion-item>

</ion-content>
