<ion-button
        [ngClass]='classes'
        [size]="size"
        [color]="color"
        [expand]="expand"
        (click)="showAmountModal()">
    <ion-icon *ngIf="icon" [name]="icon" slot="start"></ion-icon>
    <img *ngIf="img" [src]="img" slot="start" style="margin-right: 5px;" />
    {{title}}
</ion-button>