<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Rating Tag
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Name</ion-label>
            <div item-content>
                <span>{{ratingTag.name}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Eq</ion-label>
            <div item-content>
                <span>{{ratingTag.eq}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Code</ion-label>
            <div item-content>
                <span>{{ratingTag.code}}</span>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(ratingTag)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(ratingTag)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
