<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'CONTACT_INFO_TITLE' | translate}}
        </ion-title>

        <!--<ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="doSignup()" color="primary">
                <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
                <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>-->
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="contact-info-par ion-padding">
        <p class="sf-light ion-no-margin">
            {{'CONTACT_INFO_PAR' | translate}}
        </p>
    </div>
    <div class="ion-padding">
        <form *ngIf="form" name="form" [formGroup]="form">
            <ion-list>
                <ion-item>
                    <ion-label position="floating">{{'FULL_NAME_TITLE' | translate}}</ion-label>
                    <ion-input type="text" name="fullName" formControlName="fullName"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">{{'PHONE_NUMBER_TITLE' | translate}}</ion-label>
                    <ion-input type="tel" name="phone" formControlName="phone" #phoneInput></ion-input>
                </ion-item>
                <ion-row padding>
                    <ion-col>
                        <ion-button [disabled]="!isReadyToSave" (click)="doSignup('1')" expand="block" type="submit" color="enjoy"
                                    id="login">{{ 'LOGIN_BUTTON' | translate }}</ion-button>
                    </ion-col>
                </ion-row>
            </ion-list>
        </form>
    </div>
</ion-content>