<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Order Status History
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Order Status</ion-label>
            <div item-content>
                <span>{{orderStatusHistory.orderStatus}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Create Date</ion-label>
            <div item-content>
                <span>{{orderStatusHistory.createDate | date:'medium'}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Comment</ion-label>
            <div item-content>
                <span>{{orderStatusHistory.comment}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Order</ion-label>
            <div item-content *ngIf="orderStatusHistory.order">
                <a>{{orderStatusHistory.order?.id}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(orderStatusHistory)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(orderStatusHistory)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
