<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Order Status History
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Order Status</ion-label>
                <ion-select formControlName="orderStatus" id="field_orderStatus" >
                        <ion-select-option value="NEW">{{'OrderStatus.NEW' | translate}}</ion-select-option>
                        <ion-select-option value="CONFIRMED">{{'OrderStatus.CONFIRMED' | translate}}</ion-select-option>
                        <ion-select-option value="IN_PROCESS">{{'OrderStatus.IN_PROCESS' | translate}}</ion-select-option>
                        <ion-select-option value="FINISHED">{{'OrderStatus.FINISHED' | translate}}</ion-select-option>
                        <ion-select-option value="DELIVERING">{{'OrderStatus.DELIVERING' | translate}}</ion-select-option>
                        <ion-select-option value="DELIVERED">{{'OrderStatus.DELIVERED' | translate}}</ion-select-option>
                        <ion-select-option value="CANCELED">{{'OrderStatus.CANCELED' | translate}}</ion-select-option>
                        <ion-select-option value="REJECTED">{{'OrderStatus.REJECTED' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Create Date</ion-label>
                <ion-datetime displayFormat="MM/DD/YYYY" formControlName="createDate" id="field_createDate"></ion-datetime>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Comment</ion-label>
                <ion-input type="text" name="comment" formControlName="comment"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Order</ion-label>
                <ion-select id="field_order" formControlName="order" [compareWith]="compareOrder">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="orderOption" *ngFor="let orderOption of orders; trackBy: trackOrderById">{{orderOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
