ion-card {
    margin: 0 0 10px 0;
}
.menu-img {
    width: 93px;
    height: 92px;
    margin: 9px;
}
.menu-img img {
    border-radius: 5px;
    background-size: cover;
}
.order-content {
    position: relative;
    min-height: 101px;
}
.order-content ion-card-header {
    padding: 15px 0 0 0;
}
.order-content ion-card-title {
    font-size: 17px;
}

.order-add-btn {
    display: inline-block;
    border: 2px solid #fdae47;
    border-radius: 7px;
    padding: 2px 5px 0px 5px;
}
.order-add-icon{
    font-size: 22px;
    padding: 0;
    margin: 0;
    color: #fdae47;
    font-weight: 600;
}
.amount-label {
    font-size: 16px;
    vertical-align: middle;
    margin: 0 5px;
    display: block;
    float: left;
    margin-top: 7px;
    width: 21px;
    text-align: center;
}
.counter-block {
    position: absolute;
    bottom: 5px;
    width: 100%;
    left: 0px;
    padding-left: 111px;
    padding-right: 9px;
}
.order-price {
    font-size: 16px;
    color: #FDAE47;
    line-height: 30px;
}
.service-type-btn {
    --border-radius: 3px;
    --border-style: solid;
    --border-width: 1px;
}
.subtotal-block {
    padding: 10px 16px;
}
.proceed-block {
    padding: 10px 16px;
    border-top: 1px solid #e4e4e4;
}
ion-content {
    --background: #f9f9f9;
}
.selected-service {
    --border-color: #FDAE47;
}
.inactive-service {
    --border-color: #989aa2;
    /*--color-activated: #ffffff;*/
}
.promocode-item {
    width: 65%;
    display: inline-block;
    margin-top: 4px;

    --border-width: 1px;
    --border-style: solid;
    --border-color: #989aa2;
}
.promocode-input {
    line-height: 22px;
    --padding-start: 8px;
    --border-width: 0px;
}
.passive-par {
    color: #989aa2;
    font-size: 16px;
}
.subtotal-details-block {
    margin: 0 16px;
    padding: 10px 0;
    border-bottom: 1px solid #989aa2;
}
.order-settings > div {
    background: #ffffff;
    padding: 10px 16px;
    margin-bottom: 15px;
}
.order-review {
    margin-bottom: 0 !important;
}
.special-ins-block {
    border-top: 1px solid #989aa2;
    color: var(--ion-color-enjoy) !important;
    padding-bottom: 30px !important;
    margin-bottom: 0 !important;
}
.order-subtotal-footer {
    margin-bottom: 0 !important;
    background-color: #f1f1f1 !important;
}
.ordered-item {
    position: relative;
}
.ordered-item ion-chip{
    position: absolute;
    top: 5px;
    right: 10px;
}
.hidden-comment-input {
    /*transition: opacity 1s ease-out;
    opacity: 0;
    height: 0;
    overflow: hidden;*/
}