<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{'PREVIEW_PAGE_TITLE' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding">

    <div *ngIf="order?.statusHistory" class="ion-padding ion-text-center sf-light">
        Ваш заказ <span>{{'ORDER.PRESENT.'+order.statusHistory.orderStatus | translate}}</span>. Ждите изменения статуса
    </div>

    <div class="order-settings">
        <div class="main-info">
            <label class="sf-bold">1. {{'CONTACT_INFO_TITLE' | translate}}</label>
            <div>
                <ion-button
                        *ngIf="!account"
                        routerLink="/signup"
                        expand="block"
                        color="medium"
                        fill="outline"
                        class="service-type-btn ion-margin-top">
                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                    <span>{{'ADD_CONTACT_INFO_TITLE' | translate}}</span>
                </ion-button>
                <ion-button
                        *ngIf="account"
                        expand="block"
                        color="medium"
                        fill="outline"
                        class="service-type-btn ion-margin-top">
                    <ion-icon slot="end" name="contact"></ion-icon>
                    <span>{{account.firstName}}</span>
                </ion-button>
            </div>
        </div>
        <div class="promocode-info">
            <label class="sf-bold">2. {{'PROMO_CODE_TITLE' | translate}}</label>
            <div>
                <ion-item class="promocode-item">
                    <ion-input type="text"
                               placeholder="Promo Code"
                               class="promocode-input"
                               [(ngModel)]="promocode" [readonly]="order"></ion-input>
                </ion-item>
                <ion-button color="enjoy" class="ion-float-right" (click)="getPromocode(promocode)" [disabled]="order">
                    {{'ACCEPT_TITLE' | translate}}
                </ion-button>
                <div style="clear: both"></div>
            </div>
        </div>
        <div class="payment-info">
            <label class="sf-bold">3. {{'PAYMENT_INFO_TITLE' | translate}}</label>
            <div>
                <ion-button (click)="presentPaymentAlert()" expand="block" color="medium" fill="outline" class="service-type-btn ion-margin-top" [disabled]="order">
                    <!--<ion-icon slot="start" name="card"></ion-icon>-->
                    <ion-icon slot="start" name="cash"></ion-icon>
                    <ion-icon slot="end" name="arrow-forward"></ion-icon>
                    {{'CASH_BUTTON_TITLE' | translate}}
                </ion-button>
            </div>
        </div>
        <div class="order-review" *ngIf="checkoutItems?.length">
            <label class="sf-bold">4. {{'REVIEW_ORDER_TITLE' | translate}}</label>
            <ion-row *ngFor="let item of checkoutItems">
                <ion-col size="7" size-md>
                    <span class="sf-bold">{{item.menu.name}}</span>
                    <p class="passive-par" style="max-height: 38px; overflow: hidden; margin: 7px 0;">
                        {{item.menu.content}}
                    </p>
                </ion-col>
                <ion-col size="2" size-md text-end>
                    {{'QUANTITY_TITLE' | translate}}: {{item.amount}}
                    <div *ngIf="item.menu.spicy" style="color: #dc1919">
                        остр.
                    </div>
                </ion-col>
                <ion-col size="3" size-md text-end>
                    <label class="sf-bold">
                        {{item.menu.price?.price || 'уточнить'}} ₸
                    </label>
                    <div *ngIf="item.menu.spicy" style="color: #dc1919">
                        {{'SPICY_LEVEL.'+item.spicyLevel | translate}}
                    </div>
                </ion-col>
            </ion-row>
        </div>
        <div class="special-ins-block">
            <span (click)="showCommentInput()" *ngIf="!order">
                <ion-icon name="add" slot="start"></ion-icon>
                {{'ADD_COMMENT_TITLE' | translate}}
            </span>
            <span *ngIf="order?.comment">
                {{'COMMENT_TITLE' | translate}}
            </span>
            <div class="hidden-comment-input" *ngIf="flagComment || order?.comment">
                <ion-item>
                    <ion-textarea placeholder="Комментарии..." [(ngModel)]="comment"></ion-textarea>
                </ion-item>
            </div>
        </div>



        <!--<ion-list>
            <ion-item>
                <ion-label position="fixed">Promocode</ion-label>
                <div item-content>
                    <span>{{order.promocode}}</span>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Total Price</ion-label>
                <div item-content>
                    <span>{{order.totalPrice}}</span>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Change</ion-label>
                <div item-content>
                    <span>{{order.change}}</span>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Paid</ion-label>
                <div item-content>
                    <span>{{order.paid}}</span>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Payment Type</ion-label>
                <div item-content>
                    <span>{{order.paymentType}}</span>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Payment Code</ion-label>
                <div item-content>
                    <span>{{order.paymentCode}}</span>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Flag Paid</ion-label>
                <div item-content>
                    <span>{{order.flagPaid}}</span>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Service Type</ion-label>
                <div item-content>
                    <span>{{order.serviceType}}</span>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Service Time</ion-label>
                <div item-content>
                    <span>{{order.serviceTime | date:'medium'}}</span>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Create Date</ion-label>
                <div item-content>
                    <span>{{order.createDate | date:'medium'}}</span>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Comment</ion-label>
                <div item-content>
                    <span>{{order.comment}}</span>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Location Type</ion-label>
                <div item-content>
                    <span>{{order.locationType}}</span>
                </div>
            </ion-item>
            <ion-item>
                <ion-label position="fixed">Delivery Duration</ion-label>
                <div item-content>
                    <span>{{order.deliveryDuration}}</span>
                </div>
            </ion-item>
            <ion-item>
                <ion-label>User</ion-label>
                <div item-content>{{order.user?.id}}</div>
            </ion-item>
            <ion-item>
                <ion-label>Status</ion-label>
                <div item-content *ngIf="order.status">
                    <a>{{order.status?.id}}</a>
                </div>
            </ion-item>
            <ion-item>
                <ion-label>Location</ion-label>
                <div item-content *ngIf="order.location">
                    <a>{{order.location?.id}}</a>
                </div>
            </ion-item>
        </ion-list>-->

        <!--<ion-button expand="block" color="primary" (click)="open(order)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
        <ion-button expand="block" color="danger" (click)="deleteModal(order)">{{ 'DELETE_BUTTON' | translate }}</ion-button>-->

        <div class="order-subtotal-footer">
            <div class="subtotal-details-block">
                <div style="margin-bottom: 5px;" *ngIf="subtotal">
                    <div class="ion-float-left">
                        {{'SUBTOTAL_TITLE' | translate}}
                    </div>
                    <div class="ion-float-right ion-text-end">
                        {{subtotal}} ₸
                    </div>
                    <div style="clear: both"></div>
                </div>
                <div *ngIf="promocodeConfirm">
                    <div class="ion-float-left" style="max-width: 160px; overflow: hidden;">
                        {{promocodeConfirm.name}}
                    </div>
                    <div class="ion-float-right ion-text-end">
                        {{promocodeConfirm.discount}}%
                    </div>
                    <div style="clear: both"></div>
                </div>
            </div>
            <div class="subtotal-block" *ngIf="total">
                <span class="ion-float-left sf-bold">
                        {{'TOTAL_TITLE' | translate}}
                </span>
                <span class="ion-float-right sf-bold">{{total}} ₸</span>
                <div style="clear:both"></div>
            </div>
            <div class="proceed-block">
                <ion-button expand="block" color="enjoy" class="service-type-btn" (click)="makeOrder()" [disabled]="!account" *ngIf="!order">
                    Заказать
                </ion-button>
                <ion-button
                        expand="block"
                        color="danger"
                        class="service-type-btn"
                        *ngIf="order"
                        (click)="showCancelAlert(order)"
                        [disabled]="hasAnyStatus(order)"
                >
                    {{'CANCEL_ORDER_TITLE' | translate}}
                </ion-button>
            </div>
        </div>
    </div>

</ion-content>
<!--
<ion-footer>
    <ion-toolbar class="ion-no-padding">
    </ion-toolbar>
</ion-footer>-->
