<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>
			{{'ORDER_HEADER' | translate}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content class="ion-padding">
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="loadAll($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

	<!--<h3 class="enjoy-page-header text-sf-black">{{'ORDER_HEADER' | translate}}</h3>-->

	<div *ngIf="orders?.length">
		<ion-card class="ordered-item" *ngFor="let o of orders" (click)="viewOrder(o)">
			<ion-card-header>
				<ion-card-subtitle>Заказ #{{o.id}}</ion-card-subtitle>
				<ion-card-title>
					<span>товары: {{o.items.length}}</span>
					<span class="ion-float-right">{{o.total}} т</span>
				</ion-card-title>
			</ion-card-header>
			<ion-card-content>
				Время самовывоза: {{o.pickupTime | date:'HH:mm'}}
			</ion-card-content>
			<ion-chip color="warning" class="ion-float-right">
				<ion-label [color]="o.color" *ngIf="o.color">
					{{ 'ORDER.STATUS.'+o.statusHistory.orderStatus | translate}}
				</ion-label>
			</ion-chip>
		</ion-card>
	</div>

	<div *ngIf="checkoutItems?.length">
		<ion-card *ngFor="let item of checkoutItems">
			<div class="menu-img ion-float-left">
				<!--<img src="../../../../assets/img/pasta.png"/>-->
				<img *ngIf="item.menu.image" [src]="'data:' + item.menu.imageContentType + ';base64,' + item.menu.image" style="max-width: 100%;" alt="menu image"/>
			</div>
			<div class="order-content">
				<ion-card-header>
					<ion-card-title>
						<span class="sf-bold">{{item.menu.name}}</span>
					</ion-card-title>
				</ion-card-header>
				<div class="counter-block ion-float-left">
					<div class="ion-float-left">
						<span class="order-add-btn ion-float-left" (click)="removeAmount(item)">
							<ion-icon class="order-add-icon" name="remove"></ion-icon>
						</span>
						<label class="sf-bold amount-label">
							{{item.amount}}
						</label>
						<span class="order-add-btn" (click)="addAmount(item)">
							<ion-icon class="order-add-icon" name="add"></ion-icon>
						</span>
					</div>
					<div class="ion-float-right">
						<label class="sf-bold order-price">
							{{item.menu.price?.price || 'уточнить'}} ₸
						</label>
					</div>
				</div>
			</div>
		</ion-card>

		<div class="order-settings">
			<div class="ion-margin-top">
				<ion-row>
					<ion-col>
						<ion-button class="service-type-btn selected-service" expand="block" color="enjoyfill">
							{{'PICKUP_TITLE' | translate}}
							<ion-icon name="checkmark-circle" slot="end"></ion-icon>
						</ion-button>
					</ion-col>
					<ion-col>
						<ion-button class="service-type-btn inactive-service" expand="block" color="mediumfill" [disabled]="true">
							{{'DELIVERY_TITLE' | translate}}
							<ion-icon name="checkmark-circle" slot="end"></ion-icon>
						</ion-button>
					</ion-col>
				</ion-row>
			</div>
			<div class="ion-margin-top">
				<label class="sf-bold">
					Время самовывоза
				</label>
				<div class="sf-light">
					Время работы 09:00 до 19:00
				</div>
				<ion-button expand="block" color="medium" fill="outline" class="service-type-btn ion-margin-top" (click)="openPicker()">
					<ion-icon slot="end" name="arrow-forward"></ion-icon>
					<span *ngIf="!pickUpTime">Выберите время</span>
					<span *ngIf="pickUpTime">{{pickUpTime | date:'dd.MM HH:mm'}}</span>
				</ion-button>
			</div>
		</div>
	</div>

    <!--<ion-list>
        <ion-item-sliding *ngFor="let order of orders; trackBy: trackId" #slidingItem>
            <ion-item (click)="view(order)">
              <ion-label class="ion-text-wrap">
                <p>{{order.promocode}}</p>
                <p>{{order.totalPrice}}</p>
                <p>{{order.change}}</p>
                <p>{{order.paid}}</p>
                &lt;!&ndash; todo: special handling for translating enum - {{'PaymentType.' + order.paymentType}}" &ndash;&gt;
                <p>{{order.paymentType}}</p>
                <p>{{order.paymentCode}}</p>
                <p>{{order.flagPaid}}</p>
                &lt;!&ndash; todo: special handling for translating enum - {{'ServiceType.' + order.serviceType}}" &ndash;&gt;
                <p>{{order.serviceType}}</p>
                <p>{{order.serviceTime | date:'medium'}}</p>
                <p>{{order.createDate | date:'medium'}}</p>
                <p>{{order.comment}}</p>
                &lt;!&ndash; todo: special handling for translating enum - {{'LocationType.' + order.locationType}}" &ndash;&gt;
                <p>{{order.locationType}}</p>
                <p>{{order.deliveryDuration}}</p>
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
                <ion-item-option color="primary" (click)="edit(slidingItem, order)">
                    {{ 'EDIT_BUTTON' | translate }}
                </ion-item-option>
                <ion-item-option color="danger" (click)="delete(order)">
                    {{ 'DELETE_BUTTON' | translate }}
                </ion-item-option>
            </ion-item-options>
        </ion-item-sliding>
    </ion-list>-->
    <p *ngIf="!checkoutItems?.length && !orders?.length" class="ion-text-center sf-light" style="margin-top: 40%">
		{{'EMPTY_CHECKOUT_TITLE' | translate}}
    </p>

    <!--<ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="new()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>-->

</ion-content>
<ion-footer>
	<ion-toolbar class="ion-no-padding">
		<div *ngIf="checkoutItems?.length">
			<div class="subtotal-block">
				<span class="ion-float-left sf-bold">{{'SUBTOTAL_TITLE' | translate}}</span>
				<span class="ion-float-right sf-bold">{{subtotal}} ₸</span>
				<div style="clear:both"></div>
			</div>
			<div class="proceed-block">
				<ion-button expand="block" color="enjoy" class="service-type-btn" (click)="view()" [disabled]="!pickUpTime">
					Продолжить
				</ion-button>
			</div>
		</div>
		<div *ngIf="!checkoutItems?.length">
			<div class="proceed-block">
				<ion-button expand="block" color="enjoy" class="service-type-btn" (click)="startMyOrder()">
					{{'START_MY_ORDER_TITLE' | translate}}
				</ion-button>
			</div>
		</div>
	</ion-toolbar>
</ion-footer>