.logo-block {
    position: relative;
    display: inline-block;
}
.success-cup {
    position: absolute;
    left: 13px;
    top: 30px;
}
.success-title {
    color: #54C252;
}
.close-btn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 16px;
    color: #FDAE47;
}