
<ion-content class="ion-text-center">
    <span class="sf-light close-btn" (click)="closeModal()">
        {{'FINISH_BTN_TITLE' | translate}}
    </span>
    <div style="margin-top: 50%;">
        <div class="logo-block">
            <img src="../../../assets/img/success-submit-logo.png"/>
            <img class="success-cup" src="../../../assets/img/success-cup.png"/>
        </div>
        <h3 class="sf-bold success-title">
            {{'SUCCESS_ORDER_TITLE' | translate}}
        </h3>
        <span class="sf-light ion-text-center">
            {{'SUCCESS_CONNECT_TITLE' | translate}}
        </span>
    </div>
</ion-content>