<ion-tabs (ionTabsDidChange)="ionTabsDidChange($event)">

    <ion-tab-bar slot="bottom" >
        <ion-tab-button tab="home">
            <ion-icon name="list-box"></ion-icon>
            <ion-label>
                {{ 'MENU_LABEL' | translate }}
            </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="fav">
            <ion-icon name="heart"></ion-icon>
            <ion-label>
                {{ 'FAV_TITLE' | translate }}
            </ion-label>
        </ion-tab-button>

        <ion-tab-button tab="checkout">
            <ion-icon name="basket"></ion-icon>
            <ion-label>
                {{ 'CHECKOUT_TITLE' | translate }}
            </ion-label>
            <ion-badge color="green" *ngIf="checkoutAmount > 0">{{checkoutAmount}}</ion-badge>
        </ion-tab-button>

        <ion-tab-button tab="account">
            <ion-icon name="person"></ion-icon>
            <ion-label>
                {{ 'TAB3_TITLE' | translate }}
            </ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>
