<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'ABOUT_TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card class="detail-card news-card">
        <div class="img-container">
            <img src="../../assets/img/Loading.png"/>
        </div>
        <ion-card-header>
            <ion-card-title>Enjoy Express</ion-card-title>
        </ion-card-header>
        <ion-item>
            <ion-icon name="logo-instagram" slot="start"></ion-icon>
            <ion-label>Наш instagram</ion-label>
            <ion-button href="https://www.instagram.com/invites/contact/?i=kbhkvcv9rl78&utm_content=57sowmm"
                        target="_blank"
                        fill="outline" slot="end">{{'LINK_TITLE' | translate}}</ion-button>
        </ion-item>
        <ion-card-content>
            Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the
            Wisconsin Territory in 1836.
        </ion-card-content>
    </ion-card>


</ion-content>
