// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/
@font-face {
  font-family: 'SF Display Pro';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/sf-ui-display-black.woff');
}

@font-face {
  font-family: 'Marck Script';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/MarckScript-Regular.ttf');
}

@font-face {
  font-family: 'SF Display Pro Light';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/sf-ui-display-light.woff');
}

@font-face {
  font-family: 'SF Display Pro Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/sf-ui-display-bold.woff');
}

.sf-bold {
  font-family: "SF Display Pro Bold";
}

.sf-light {
  font-family: "SF Display Pro Light";
}

.text-sf-black {
  font-family: "SF Display Pro";
}

.text-marck-script {
  font-family: "Marck Script";
}

.ion-color-enjoy {
  --ion-color-base: var(--ion-color-enjoy) !important;
  --ion-color-base-rgb: var(--ion-color-enjoy-rgb) !important;
  --ion-color-contrast: var(--ion-color-enjoy-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-enjoy-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-enjoy-shade) !important;
  --ion-color-tint: var(--ion-color-enjoy-tint) !important;
}

.ion-color-enjoyfill {
  --ion-color-base: var(--ion-color-enjoyfill) !important;
  --ion-color-base-rgb: var(--ion-color-enjoyfill-rgb) !important;
  --ion-color-contrast: var(--ion-color-enjoyfill-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-enjoyfill-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-enjoyfill-shade) !important;
  --ion-color-tint: var(--ion-color-enjoyfill-tint) !important;
}

.ion-color-mediumfill {
  --ion-color-base: var(--ion-color-mediumfill) !important;
  --ion-color-base-rgb: var(--ion-color-mediumfill-rgb) !important;
  --ion-color-contrast: var(--ion-color-mediumfill-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-mediumfill-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-mediumfill-shade) !important;
  --ion-color-tint: var(--ion-color-mediumfill-tint) !important;
}

.ion-color-green {
  --ion-color-base: var(--ion-color-green) !important;
  --ion-color-base-rgb: var(--ion-color-green-rgb) !important;
  --ion-color-contrast: var(--ion-color-green-contrast) !important;
  --ion-color-contrast-rgb: var(--ion-color-green-contrast-rgb) !important;
  --ion-color-shade: var(--ion-color-green-shade) !important;
  --ion-color-tint: var(--ion-color-green-tint) !important;
}

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #0cd1e8;
  --ion-color-secondary-rgb: 12, 209, 232;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #0bb8cc;
  --ion-color-secondary-tint: #24d6ea;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #10dc60;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #0ec254;
  --ion-color-success-tint: #28e070;

  /** warning **/
  --ion-color-warning: #ffce00;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #ffffff;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #e0b500;
  --ion-color-warning-tint: #ffd31a;

  /** danger **/
  --ion-color-danger: #f04141;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #d33939;
  --ion-color-danger-tint: #f25454;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #86888f;
  --ion-color-medium-tint: #a2a4ab;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  /** enjoy **/
  --ion-color-enjoy: #FDAE47;
  --ion-color-enjoy-rgb: 56, 128, 255;
  --ion-color-enjoy-contrast: #ffffff;
  --ion-color-enjoy-contrast-rgb: 255, 255, 255;
  --ion-color-enjoy-shade: #c58736;
  --ion-color-enjoy-tint: #c58736;

  /** enjoy fill **/
  --ion-color-enjoyfill: #ffffff;
  --ion-color-enjoyfill-rgb: 56, 128, 255;
  --ion-color-enjoyfill-contrast: #FDAE47;
  --ion-color-enjoyfill-contrast-rgb: 255, 255, 255;
  --ion-color-enjoyfill-shade: #fefefe;
  --ion-color-enjoyfill-tint: #ffffff;

  /** medium fill **/
  --ion-color-mediumfill: #ffffff;
  --ion-color-mediumfill-rgb: 255, 255, 255;
  --ion-color-mediumfill-contrast: #989aa2;
  --ion-color-mediumfill-contrast-rgb: 152, 154, 162;
  --ion-color-mediumfill-shade: #989aa2;
  --ion-color-mediumfill-tint: #989aa2;

  /** green **/
  --ion-color-green: #5C8942;
  --ion-color-green-rgb: 56, 128, 255;
  --ion-color-green-contrast: #ffffff;
  --ion-color-green-contrast-rgb: 255, 255, 255;
  --ion-color-green-shade: #3f5f2d;
  --ion-color-green-tint: #3f5f2d;
}
