<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'HISTORY_TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    History page

</ion-content>
