<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'FEEDBACK_TITLE' | translate }}</ion-title>

        <ion-buttons slot="end" class="logout-btn">
            <ion-button [disabled]="!feedback.email || !feedback.message" (click)="submit()" color="light">
                <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
                <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')" ></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <ion-input style="margin-left: 2px;" type="text" placeholder="Электронная почта" [(ngModel)]="feedback.email"></ion-input>
    <ion-textarea rows="8" placeholder="Сообщение..." [(ngModel)]="feedback.message"></ion-textarea>

</ion-content>
