<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button color="light" (click)="cancel()">
                <span>{{'CANCEL_BUTTON' | translate}}</span>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{'SMS_CODE_CONFIRM_TITLE' | translate}}
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="activate()" color="light">
                <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
                <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>

    <!--<div class="enter-sms sf-bold">{{'ENTER_SMS_CODE' | translate}}</div>-->
    <div class="code-sent sf-light">
        {{'CODE_SENT_TITLE' | translate}}
        <span style="display: block; color: #1e2023; margin-top: 5px;">
            {{maskedPhone}}
        </span>
    </div>
    <div class="code-input-block">
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-input type="tel" [(ngModel)]="receivedCode.val1" (ionInput)="inputChange($event, 1)" #val1></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-input type="tel" [(ngModel)]="receivedCode.val2" (ionInput)="inputChange($event, 2)" #val2></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-input type="tel" [(ngModel)]="receivedCode.val3" (ionInput)="inputChange($event, 3)" #val3></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-input type="tel" [(ngModel)]="receivedCode.val4" (ionInput)="inputChange($event, 4)" #val4></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </div>
    <div class="sms-bottom">
        <span *ngIf="!flagResend">
            <span>{{'RESEND_SMS_CODE_TITLE' | translate}}</span><span style="color: #36363c"> {{resendTime}}</span>
        </span>
        <a *ngIf="flagResend && !isSending" (click)="resendSmsCode()">{{'RESEND_BTN_TITLE' | translate}}</a>
    </div>

</ion-content>