.code-input-block {
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
ion-input {
  margin-left: 12px;
}

.enter-sms{
  font-size: 18px;
  margin: 0 auto;
}
.code-sent{
  text-align: center;
  color: #7b7b7b;
  margin-bottom: 17%;
  margin-top: 20px;
  font-size: 16px;
}
.sms-bottom {
  font-size: 14px;
  color: #9e9e9e;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 15px;
}
