<ion-header>
	<ion-toolbar>
		<ion-title class="sf-bold">
			{{'MENU_LABEL' | translate}}
		</ion-title>
		<!--<ion-buttons slot="end">
			<ion-button (click)="logout()" id="logout">
				{{ 'LOGOUT_TITLE' | translate }}
				<ion-icon slot="end" name="log-out"></ion-icon>
			</ion-button>
		</ion-buttons>-->
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	<!--<h3 class="enjoy-page-header text-sf-black">{{'MENU_LABEL' | translate}}</h3>-->
	<div class="stocks">
		<ion-slides [options]="slideOptsTwo">
			<ion-slide *ngFor="let advert of adverts">
				<div class="stock-block" (click)="viewStock(advert)">
					<img [src]="'data:' + advert.imageContentType + ';base64,' + advert.image" />
				</div>
			</ion-slide>
		</ion-slides>
	</div>
	<div class="home-block regular-order-block" (click)="openPage(entities[0])">
		<div class="block-content">
			<img src="../../../assets/img/reg-order-logo.png"/>
			<p class="text-sf-block order-block-text">{{'REGULAR_ORDER_TITLE' | translate}}</p>
		</div>
	</div>
	<div class="home-block group-order-block">
		<div class="block-content">
			<img src="../../../assets/img/group-order-logo.png"/>
			<p class="text-sf-block order-block-text">{{'GROUP_ORDER_TITLE' | translate}}</p>
		</div>
	</div>

	<!--<p>{{ 'WELCOME_INTRO' | translate }}</p>
  	<span class="hipster"></span>-->
</ion-content>
