<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Order Item
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Amount</ion-label>
                <ion-input type="number" name="amount" formControlName="amount"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Type</ion-label>
                <ion-select formControlName="type" id="field_type" >
                        <ion-select-option value="PAY">{{'OrderItemType.PAY' | translate}}</ion-select-option>
                        <ion-select-option value="GIFT">{{'OrderItemType.GIFT' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Order</ion-label>
                <ion-select id="field_order" formControlName="order" [compareWith]="compareOrder">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="orderOption" *ngFor="let orderOption of orders; trackBy: trackOrderById">{{orderOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Menu</ion-label>
                <ion-select id="field_menu" formControlName="menu" [compareWith]="compareMenu">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="menuOption" *ngFor="let menuOption of menus; trackBy: trackMenuById">{{menuOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
