<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Advert
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Name</ion-label>
            <div item-content>
                <span>{{advert.name}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Description</ion-label>
            <div item-content>
                <span>{{advert.description}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Image</ion-label>
            <div item-content>
                <div *ngIf="advert.image">
                    <a (click)="openFile(advert.imageContentType, advert.image)">
                        <img [src]="'data:' + advert.imageContentType + ';base64,' + advert.image" style="max-width: 100%;" alt="advert image"/>
                    </a>
                    {{advert.imageContentType}}, {{byteSize(advert.image)}}
                </div>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(advert)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(advert)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
