/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

.enjoy-page-header {
    font-size: 30px;
    margin: 0 0 10px 0;
}
.amount-modal-css .modal-wrapper {
    position: absolute;
    /* top: 54%; */
    border-radius: 12px;
    left: 5%;
    width: 90%;
    text-align: center;
    max-height: 210px;
    bottom: -8px;
}
.amount-modal-css .inner-scroll {
    overflow: hidden;
}
.no-scroll {
    --overflow: hidden;
}
ion-header > ion-toolbar {
    --background: #FDAE47;
    --color: #ffffff;
    --border-color: #FDAE47;
}