<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button color="light"></ion-back-button>
        </ion-buttons>
        <ion-title>{{ 'ACTIVATE_PROMOCODE_TITLE' | translate }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <div class="promo-container">
        <div class="promo-icon">
            <img src="../../assets/img/gift.png"/>
        </div>
        <div class="promo-title sf-light">
            Подари и получи 30% скидку
        </div>
        <div class="promo-value">
            <span></span>
            <label class="sf-light">{{promocode}}</label>
            <span></span>
        </div>
        <p class="promo-text sf-light ion-text-center">
            Поделитесь с друзьями вашим промокодом, и они получат скидку 30% на первую покупку.
            После того, как они воспользуются мобильным приложением Enjoy Express App, вы получите такую же скидку.
        </p>
        <div>
            <ion-row>
                <ion-col size="4" text-end>
                    <ion-fab-button color="success" style="display: inline-block" (click)="shareViaWhatsapp()">
                        <ion-icon name="logo-whatsapp" size="large"></ion-icon>
                    </ion-fab-button>
                </ion-col>
                <ion-col size="4" align-self-center>
                    <ion-fab-button color="green" style="display: inline-block" (click)="shareViaMessage()">
                        <ion-icon name="text" size="large"></ion-icon>
                    </ion-fab-button>
                </ion-col>
                <ion-col size="4" text-start>
                    <ion-fab-button color="enjoy" style="display: inline-block" (click)="share()">
                        <ion-icon name="more" size="large"></ion-icon>
                    </ion-fab-button>
                </ion-col>
            </ion-row>
        </div>
    </div>

</ion-content>
