.promo-container {
  text-align: center;
}

.promo-icon {
  width: 50px;
  margin: 40% auto 0;
}

.promo-title {
  font-size: 18px;
  margin-top: 20px;
}

.promo-value {
  font-size: 18px;
  margin: 15px auto 0;
  width: 200px;
  text-align: center;
}
.promo-value label {
  margin: 0 10px;
}
.promo-value span {
  display: inline-block;
  width: 40px;
  height: 2px;
  background-color: #fdae47;
  margin-bottom: 5px;
}


.promo-text {
  font-size: 16px;
  color: #5d5d5d;
  margin-top: 15px;
}

.promo-share {
  font-size: 25px;
}