<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Price History
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-list>
        <ion-item>
            <ion-label position="fixed">Price</ion-label>
            <div item-content>
                <span>{{priceHistory.price}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label position="fixed">Currency</ion-label>
            <div item-content>
                <span>{{priceHistory.currency}}</span>
            </div>
        </ion-item>
        <ion-item>
            <ion-label>Menu</ion-label>
            <div item-content *ngIf="priceHistory.menu">
                <a>{{priceHistory.menu?.id}}</a>
            </div>
        </ion-item>
    </ion-list>

    <ion-button expand="block" color="primary" (click)="open(priceHistory)">{{ 'EDIT_BUTTON' | translate }}</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(priceHistory)">{{ 'DELETE_BUTTON' | translate }}</ion-button>

</ion-content>
