<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            Price History
        </ion-title>

        <ion-buttons slot="end">
            <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
              <span *ngIf="platform.is('ios')">{{'DONE_BUTTON' | translate}}</span>
              <ion-icon name="md-checkmark" *ngIf="!platform.is('ios')"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
    <form *ngIf="form" name="form" [formGroup]="form" (ngSubmit)="save()">
        <ion-list>
            <ion-item [hidden]="!form.id">
                <ion-label>ID</ion-label>
                <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Price</ion-label>
                <ion-input type="number" name="price" formControlName="price"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Currency</ion-label>
                <ion-select formControlName="currency" id="field_currency" >
                        <ion-select-option value="KZT">{{'PriceCurrency.KZT' | translate}}</ion-select-option>
                        <ion-select-option value="RU">{{'PriceCurrency.RU' | translate}}</ion-select-option>
                        <ion-select-option value="US">{{'PriceCurrency.US' | translate}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Menu</ion-label>
                <ion-select id="field_menu" formControlName="menu" [compareWith]="compareMenu">
                    <ion-select-option [value]="null"></ion-select-option>
                    <ion-select-option [value]="menuOption" *ngFor="let menuOption of menus; trackBy: trackMenuById">{{menuOption.id}}</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
